<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class= 'contain'>
      <p><a href='/'>Home</a>||</p>
      <p><a href='https://www.youtube.com/watch?v=HNTxr2NJHa0'>YouTube</a></p>
    </div>
    <h1 align='center'><%= title %></h1>
    <p align='center'><img  src="http://i.ytimg.com/vi/1_47KVJV8DU/mqdefault.jpg" alt=""></p>
    <p align='center'><a href="verse3">Next</a></p>
  </body>
</html>
