<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class= 'contain'>
      <p><a href='/'>Home</a>||</p>
      <p><a href='https://www.youtube.com/watch?v=HNTxr2NJHa0'>YouTube</a></p>
    </div>
    <h1 align='center'><%= title %></h1>
    <p align='center'><img  src="http://media-cache-ak0.pinimg.com/236x/4d/61/6c/4d616c5f67a37d1b7db7acc79a3dcf03.jpg" alt=""></p>
    <p align='center'><a href="verse4">Next</a></p>
  </body>
</html>
