extends layout

block content
  h1 write a sentence or two and we'll hipstafy it for you!
  form(action='/show', method='post')
  
    input(type='text' name='userInput')  
      
    input(type='submit')
